{% load static %}
<html>
<head>
<title>RA&T box</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src={% static 'bazaznanja/main.js' %}></script>
<style>body {background-image: url("{% static 'images/Header.jpg' %}");}</style>
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

	
<!-- Header -->

{% include "mysite/header.html" %}

</div>

<!-- Header -->


<!-- Content -->

<div style="background-color: #FFFFFF; text-align:center;  padding:50px 80px; text-align: justify;">
	<h3 style="color: #000000; text-align:center";>Dobro došli!</h3>
  	<p style="text-align:center";>U skladu sa RPA trendovima došli smo na ideju da automatizujemo svakodnevne procese uz pomoć veština
	kojima raspolažemo. Iz ove ideje nastaje <b>RA&Tbox - Automation tool</b>.<br /><br />Sigurni smo da ćemo na ovaj način olakšati
	izvršavanje čak i onih kompleksnijih zadataka, koji svima nama oduzimaju veliki deo vremena.<br /><br />Cilj nam je da se 
	fokusiramo na obavljanje daleko zahtevnijih zadataka, kao i da nastavimo da budemo najbolja podrška, kako našim korisnicima, tako i
	svim našim kolegama.
	<br /><br />
	</p>
	<p style="text-align:right";> Vaš <b>Residental Activations & Technical team</b>.
	</p>
</div>

<div style="background-color: #e4e4e4; overflow-x:auto; padding:50px 80px; text-align: center;"></div>

<div style="background-color: #FFFFFF; text-align:center;  padding:50px 80px; text-align: justify;">
	<p style="text-align:center";>
		Administrator - Aleksandar Miljković<br />
		Vaše predloge i sugestije možete poslati klikom <a href="mailto: alx.miljkovic@gmail.com; a.miljkovic@vipmobile.rs"><font color="8f153e"><b>na link</b></font></a>!<br /><br />
		RA&Tbox v1.0<br />
		Dekodiranje v1.0<br />
	</p>
	<p style="text-align:center";>
		<br/>Powered by:<br/>
		<div class="row" style="text-align: center;">
			<div class="columns">
				<img src="{% static 'images/powered_by_python.png' %}" width="auto" height="66px" style="margin-left: 10px; margin-right: 10px;">
				<img src="{% static 'images/powered_by_django.png' %}" width="auto" height="66px" style="margin-left: 10px; margin-right: 10px;">	
				<img src="{% static 'images/powered_by_pandas.png' %}" width="auto" height="66px" style="margin-left: 10px; margin-right: 10px;">	
				<img src="{% static 'images/powered_by_gitlab.png' %}" width="auto" height="66px" style="margin-left: 10px; margin-right: 10px;">
				<img src="{% static 'images/powered_by_mysql.png' %}" width="auto" height="66px" style="margin-left: 10px; margin-right: 10px;">
			</div>
		</div>
	</p>
</div>

<!-- Content -->


<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

</body>
</html>