{% load static %}
<html>
<head>
<title>RA&T box</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
<style>body {background-image: url("{% static 'images/Header.jpg' %}");}</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src={% static 'bazaznanja/main.js' %} defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Header -->

{% include "mysite/header.html" %}

</div>

<!-- Header -->

<!-- Content -->

<br/><br/><br/>

<div style="overflow-x:auto; text-align:center;  padding:20px 20px; text-align: justify;">

	<div class="row">
		<div class="columns">
			<input type = "text" value = "IMEI" style="text-align:center; width: 200px;" readonly>
			<input type = "text" value = "Kod" style="text-align:center; width: 200px;" readonly>
		</div>
	</div>
		
	{% for item in pages %}
		<div class="row">
			<div class="columns">
				<input id = "list" type = "text" name = "list" value = "{{ item.0 }}" style="text-align:center; width: 200px;" readonly>
				<input id = "list" type = "text" name = "list" value = "{{ item.1 }}" style="text-align:center; width: 200px;" readonly>
			</div>
		</div>
	{% endfor %}

	<div class="pagination" style="text-align: center;">
		<span class="step-links">

			{% if pages.has_previous %}
				<a href="?page=1">
					<img src="{% static 'images/prva_strana.png' %}"
						onmouseover="this.src='{% static 'images/prva_strana_hover.png' %}';"
						onmouseout="this.src='{% static 'images/prva_strana.png' %}';">
				</a>
				<a href="?page={{ pages.previous_page_number }}">
					<img src="{% static 'images/prethodni.png' %}"
						onmouseover="this.src='{% static 'images/prethodni_hover.png' %}';"
						onmouseout="this.src='{% static 'images/prethodni.png' %}';">
				</a>
			{% endif %}

			{% if pages.has_next %}
				<a href="?page={{ pages.next_page_number }}">
					<img src="{% static 'images/sledeci.png' %}"
						onmouseover="this.src='{% static 'images/sledeci_hover.png' %}';"
						onmouseout="this.src='{% static 'images/sledeci.png' %}';">
				</a>
				<a href="?page={{ pages.paginator.num_pages }}">
					<img src="{% static 'images/poslenja_strana.png' %}"
						onmouseover="this.src='{% static 'images/poslenja_strana_hover.png' %}';"
						onmouseout="this.src='{% static 'images/poslenja_strana.png' %}';">
				</a>
			{% endif %}
			</br>
			<span class="current">
				Strana {{ pages.number }} od {{ pages.paginator.num_pages }}
			</span>
		</span>
		
	</div>	

	<br \>

	{% for i in input_text %}
		{% if forloop.counter < 2 %}
			<div style="text-align:center;">
				<div class="row">
					<div class="columns">
						<form name = "myWebForm" method = "POST" action = "/reset_csv/">
							{% csrf_token %}
							<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
								<p style="color:#ffffff;">poništi</p>
							</button>
						</form>
						<form name = "myWebForm" method = "POST" action = "/validate_csv/">
							{% csrf_token %}
							<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
								<p style="color:#ffffff;">preuzmi i sačuvaj</p>
							</button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	<br />

<!-- Content -->
  
<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

</body>

</html>