{% load static %}
<html>
<head>
	<title>RA&T box</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
	<style>body {background-image: url("{% static 'images/Header.jpg' %}");}</style>
	
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script type="text/javascript" src={% static 'bazaznanja/main.js' %} defer></script>
	<script class="jsbin" src=https://ajax.gogleapis.com/ajax/libs/jquery/1/jquery.min.js></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script>
		var proizvodjac_lwr = "{{ proizvodjac_lwr }}";
	</script>

</head>
{% if proizvodjac_lwr == None  %}
<body  onload="nokiaValidate(); myModal();" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
{% endif %}
{% if proizvodjac_lwr != None  %}
<body  onload="nokiaValidate();" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
{% endif %}

<!-- Header -->

{% include "mysite/header.html" %}

</div>

<!-- Header -->

<!-- Content -->

<br/><br/><br/>

<div class="headertext"><br/><br/></div>

<div style="overflow-x:auto; text-align:center;  padding:50px 80px; text-align: center;">
	{% if proizvodjac_lwr == None  %}
	<form class="contact-form" method="POST" action="/confirm_new/">
	{% endif %}
	{% if proizvodjac_lwr != None  %}
	<form class="contact-form" method="POST" action="/add_new_confirm/">
	{% endif %}
		{% csrf_token %}
		<button class="input-btn" disabled>
			<input id="kontakt" type="text" name="kontakt" value="{{ kontakt }}" placeholder="kontakt..">
		</button>
		<button class="input-btn" disabled>
			<select onchange="nokiaValidate()" type="text" id="proizvodjac" name="proizvodjac" style="color: gray;">
				{% if proizvodjac != None %}
				<option style="display:none" value="{{ proizvodjac }}">{{ proizvodjac }}</option>
				{% endif %}
				{% if proizvodjac == None %}
				<option value="" hidden>proizvodjac..</option>
				{% endif %}
				<option value="Alcatel">Alcatel</option>
				<option value="HTC">HTC</option>
				<option value="Huawei">Huawei</option>
				<option value="LG">LG</option>
				<option value="Lumia">Lumia</option>
				<option value="Nokia">Nokia</option>
				<option value="Samsung">Samsung</option>
				<option value="Sony">Sony</option>
				<option value="ZTE">ZTE</option>
			</select>
		</button>
		<button class="input-btn-hidden" disabled hidden>
			<select type="text" id="model" name="model" style="color: gray;">
					{% if model_temp != None %}
					<option style="display:none" value="{{ model_temp }}">{{ model_temp }}</option>
					{% endif %}
					{% if model_temp == None %}
					<option value="" hidden>model..</option>
					{% endif %}
				{% for item in nokia_model %}
					<option value="{{ item.model }}">{{ item.model }} {{ item.modeltype }}</option>
				{% endfor %}
			</select>
		</button>
		<button class="input-btn" disabled>
			<input id="imei" type="text" name="imei" value="{{ imei }}" placeholder="imei..">
		</button>
	</br></br>
		<div style="text-align:center;">
			<button onclick="formValidate();" style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
				<p style="color:#ffffff;">podnesi zahtev</p>
			</button>
		</div>
	</form>
	<p id="test"></p>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="empty-kontakt-alert" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Obavezan unos! Potrebno je uneti kontakt.</p>
	</div>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="kontakt-alert" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Nevalidan unos! Kontakt broj je potrebno uneti u formatu 06xxxxxxx(x).</p>
	</div>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="nokia-model-alert" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Obavezan unos! Potrebno je uneti model.</p>
	</div>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="proizvodjac-alert" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Obavezan unos! Potrebno je odabrati proizvođača.</p>
	</div>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="imei-alert" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Obavezan unos! Potrebno je uneti IMEI broj.</p>
	</div>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="not-luhn-input" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Nevalidan unos! IMEI broj nije ispravan.</p>
	</div>
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;" class="not-numeric-input" hidden>
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">Nevalidan unos! IMEI broj se sastoji od 15 numeričkih karaktera.</p>
	</div>
	{% if unlock_not_found != None %}
	<div style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ unlock_not_found }}</p>
	</div>
	<br/><br/>
	{% endif %}
</div>

{% if proizvodjac_lwr == None %}
	{% if imei_query != None %}
		{% if unlock_not_found == None %}
		<!-- The Modal -->
		<div id="myModal" class="modal">

		<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<br/><br/>
				<div style="overflow-x:auto; text-align:center; background-color: #ffffff;">

					<p>{{ imei_query }}</p>
					{% for item in unlock_list %}
						<p>{{ item }}</p>
					{% endfor %}

					{% if request.user.groups.all.0.name == 'level_1' %}
						{% if proizvodjac_temp == 'Nokia' %}
							<br/><br/>
							<div id="div_winlock" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 10%; right: 10%; margin-top: 2px;" >
								<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ winlockpreview }}</p>
							</div>
							<br/><br/>
						{% endif %}
					{% endif %}
					{% if request.user.groups.all.0.name != 'level_3' %}
						{% if '0' in validate %}
						<div style="text-align:center;" class="new-request">
							<form class="contact-form" method="POST" action="/add_new/">
								{% csrf_token %}
								<input id="kontakthidden" type="text" name="kontakthidden" value="{{ kontakt }}" style="text-align:center;" hidden>
								<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
								<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
								<input id="modelhidden" type="text" name="modelhidden" value="{{ model }}" style="text-align:center;" hidden>
								<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
									<p style="color:#ffffff;">podnesi zahtev</p>
								</button>
							</form>
						</div>
						{% endif %}
						{% if '1' in validate %}
						<div style="text-align:center;" class="new-request">
							<form class="contact-form" method="POST" action="/add_new/">
								{% csrf_token %}
								<input id="kontakthidden" type="text" name="kontakthidden" value="{{ kontakt }}" style="text-align:center;" hidden>
								<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
								<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
								<input id="modelhidden" type="text" name="modelhidden" value="{{ model }}" style="text-align:center;" hidden>
								</br>
								<p>U slučaju neispravnosti koda za dekodiranje, možete podneti novi zahtev</p>
								<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
									<p style="color:#ffffff;">podnesi zahtev</p>
								</button>
							</form>
						</div>
						{% endif %}
						{% if '5' in validate %}
						<div style="text-align:center;" class="new-request">
							<form class="contact-form" method="POST" action="/add_new/">
								{% csrf_token %}
								<input id="kontakthidden" type="text" name="kontakthidden" value="{{ kontakt }}" style="text-align:center;" hidden>
								<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
								<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
								<input id="modelhidden" type="text" name="modelhidden" value="{{ model }}" style="text-align:center;" hidden>
								</br>
								<p>U slučaju neispravnosti koda za dekodiranje, možete podneti novi zahtev</p>
								<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
									<p style="color:#ffffff;">podnesi zahtev</p>
								</button>
							</form>
						</div>
						{% endif %}
						{% if '3' in validate %}
						<div style="text-align:center;" class="new-request">
							<form class="contact-form" method="POST" action="/add_new/">
								{% csrf_token %}
								<input id="kontakthidden" type="text" name="kontakthidden" value="{{ kontakt }}" style="text-align:center;" hidden>
								<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
								<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
								<input id="modelhidden" type="text" name="modelhidden" value="{{ model }}" style="text-align:center;" hidden>
								</br>
								<p>Ukoliko su izvršene navedene provere, a korisnikov uređaj traži da se unese kod za dekodiranje, možete podneti zahtev</p>
								<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
									<p style="color:#ffffff;">podnesi zahtev</p>
								</button>
							</form>
						</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
	{% endif %}
{% endif %}

<div style="overflow-x:auto; text-align:center;  padding:20px 20px; text-align: justify;">
	<table id="t1">
		<tr>
			<th class="four">Kontakt:</th>
			<th class="five">Proizvođač:</th>
			<th class="two">Model telefona:</th>
			<th>IMEI:</th>
			<th>Kod za dekodiranje:</th>
			<th class="one">Datum unosa:</th>
			<th class="one">Datum poslednje izmene:</th>
			{% if request.user.groups.all.0.name == 'level_1' %}
			<th class="three">Sačuvaj:</th>
			{% endif %}
			<th class="three">Obriši:</th>
		</tr>
		{% for item in pages reversed %}
			{% if request.user.groups.all.0.name == 'level_1' %}
			<form class="contact-form" method="POST" action="{% url 'edit_new' item_id=item.id %}">
			{% endif %}
			{% csrf_token %}
				<td class="four" id="t1">
					<input id="kontakt" type="text" name="kontakt" value="{{ item.kontakt }}" readonly>
				</td>
				<td class="five" id="t1">
					<input id="proizvodjac" type="text" name="proizvodjac" value="{{ item.proizvodjac }}" readonly>

					<!-- Currently not in use
					<select id="proizvodjac" name="proizvodjac" readonly>
							<option style="display:none"> {{ item.proizvodjac }} </option>>
							<option value="alcatel">Alcatel</option>
							<option value="htc">HTC</option>
							<option value="huawei">Huawei</option>
							<option value="lg">LG</option>
							<option value="lumia">Lumia</option>
							<option value="nokia">Nokia</option>
							<option value="samsung">Samsung</option>
							<option value="sony">Sony</option>
							<option value="zte">ZTE</option>
					</select>
					-->

				</td>
				<td class="two" id="t1">
					<input id="model" type="text" name="model" value="{{ item.model }}" readonly>
				</td>
				<td id="t1">
					<input id="imei" type="text" name="imei" value="{{ item.imei }}" readonly>
				</td>
				{% if request.user.groups.all.0.name == 'level_1' %}
				<td id="t1">
					<input id="unlock" type="text" name="unlock" value="{{ item.unlock }}">
				</td>
				{% endif %}
				{% if request.user.groups.all.0.name != 'level_1' %}
				<td id="t1">
					<input id="unlock" type="text" name="unlock" value="{{ item.unlock }}" readonly>
				</td>
				{% endif %}
				<td class="one" id="t1">
					{{ item.datecreated|date:"d.m.Y - H:i" }}
				</td>
				<td class="one" id="t1">
					{{ item.datemodified|date:"d.m.Y - H:i" }}
				</td>
				{% if request.user.groups.all.0.name == 'level_1' %}
				<td  class="three" id="t1">
					<input type="image" style="text-align: center" src="{% static 'images/Tick_Mark_Dark-512.png' %}" alt="izmeni" width="20px", height="20px">
				</td>
			</form>
			<form class="contact-form" method="POST" action="{% url 'delete_new' item_id=item.id %}">
				{% csrf_token %}
				<td  class="three" id="t1">
					<input type="image" onclick="deleteValidate()" id="delete_button" src="{% static 'images/X_Mark_Dark.png' %}" alt="obrisi" width="20px", height="20px">
				</td>
			</form>
			{% elif request.user.username == item.createdby %}
			<form class="contact-form" method="POST" action="{% url 'delete_new' item_id=item.id %}">
				{% csrf_token %}
				<td id="t1">
					<input type="image" onclick="deleteValidate()" id="delete_button" src="{% static 'images/X_Mark_Dark.png' %}" alt="obrisi" width="20px", height="20px">
				</td>
			</form>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>

<div class="pagination" style="text-align: center;">
	<span class="step-links">
		{% if pages.has_previous %}
			<a href="?page=1">
				<img src="{% static 'images/prva_strana.png' %}"
					onmouseover="this.src='{% static 'images/prva_strana_hover.png' %}';"
					onmouseout="this.src='{% static 'images/prva_strana.png' %}';">
			</a>
			<a href="?page={{ pages.previous_page_number }}">
				<img src="{% static 'images/prethodni.png' %}"
					onmouseover="this.src='{% static 'images/prethodni_hover.png' %}';"
					onmouseout="this.src='{% static 'images/prethodni.png' %}';">
			</a>
		{% endif %}
		{% if pages.has_next %}
			<a href="?page={{ pages.next_page_number }}">
				<img src="{% static 'images/sledeci.png' %}"
					onmouseover="this.src='{% static 'images/sledeci_hover.png' %}';"
					onmouseout="this.src='{% static 'images/sledeci.png' %}';">
			</a>
			<a href="?page={{ pages.paginator.num_pages }}">
				<img src="{% static 'images/poslenja_strana.png' %}"
					onmouseover="this.src='{% static 'images/poslenja_strana_hover.png' %}';"
					onmouseout="this.src='{% static 'images/poslenja_strana.png' %}';">
			</a>
		{% endif %}
		</br>
		<span class="current">
			Strana {{ pages.number }} od {{ pages.paginator.num_pages }}
		</span>
	</span>
</div>	
<br/>
<div style="text-align:center; padding:50px 80px;">
	{% if request.user.groups.all.0.name == 'level_1' %}
	<div class="row">
		<div class="columns">
			<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
				<a href="{% url 'dekodiranjeobradjeni' %}">
					<p style="color:#ffffff;">obrađeni zahtevi</p>
				</a>
			</button>
		</div>
	</div>
	{% endif %}
</div>
<!-- Content -->

  
<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

</body>

<script src="{% static 'main.js' %}"></script>

</html>