{% load static %}
<html>
<head>
<title>RA&T box</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
<style>body {background-image: url("{% static 'images/Header.jpg' %}");}</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src={% static 'bazaznanja/main.js' %} defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

<script>
    var ace_alert = "{{ trigger }}";
</script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Header -->

{% include "mysite/header.html" %}

</div>

<!-- Header -->

<!-- APPS -->

<!-- DOWNLOAD VENDORS LIST -->
<div style="overflow-x:auto; padding:50px 80px; text-align: center;">
	<h3 class="headertext" style="color: #000000;">IMEI liste</h3>
	<div class="row">
		<div class="columns">
			<form class="contact-form" method="POST" action="/download_list/"> 
				{% csrf_token %}
				<input type="checkbox" onClick="toggleAll(this)" /> Obeleži sve<br/><br/>
				<input type="checkbox" class="select_all" name="name0" value="alcatel"/> Alcatel
				<input type="checkbox" class="select_all" name="name1" value="htc"/> HTC
				<input type="checkbox" class="select_all" name="name2" value="huawei"/> Huawei
				<input type="checkbox" class="select_all" name="name3" value="lg"/> LG
				<input type="checkbox" class="select_all" name="name4" value="lumia"/> Lumia
				<input type="checkbox" class="select_all" name="name5" value="samsung"/> Samsung
				<input type="checkbox" class="select_all" name="name6" value="sony"/> Sony
				<input type="checkbox" class="select_all" name="name7" value="zte"/> ZTE
				<br><br>
				<button onclick="checkboxChecker();" style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
					<p style="color:#ffffff;">preuzmi</p>
				</button>
			</form>
		</div>
	</div>
	<div class="ace-alert" style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="checkbox-alert" hidden>Neophodno je odabrati makar jednog proizvođača!</p>
	</div>
	{% if list_trigger != None %}
	<div class="row">
		<div class="columns">
			<div class="ace-alert" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ list_trigger }} </p>
			</div>
		</div>
	</div>
	{% endif %}
	<br><br>

	<!-- NOKIA LIST -->
	<h3 class="headertext" style="color: #000000;">Nokia liste</h3>
	<p style="text-align:center";>Liste IMEI brojeva sortiranih prema tipu winlock-a:</p>
	<div class="row">
		<div class="columns">
			<form class="contact-form" method="POST" action="/nokia_list/"> 
				{% csrf_token %}
				<br>
				<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
					<p style="color:#ffffff;">preuzmi</p>
				</button>
			</form>
		</div>
	</div>
	{% if nokia_trigger != None %}
	<div class="row">
		<div class="columns">
			<div class="ace-alert" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ nokia_trigger }} </p>
			</div>
		</div>
	</div>
	{% endif %}
	<!-- NOKIA LIST -->

</div>
<!-- DOWNLOAD VENDORS LIST -->

<div style="background-color: #e4e4e4; overflow-x:auto; padding:50px 80px; text-align: center;"></div>

<!-- UPLOAD CSV -->
<div style="padding:50px 80px;">
	<h3 class="headertext" style="color: #000000; text-align: center;">Unos kodova za dekodiranje</h3>
		<form name="myWebForm" method="POST" action="/upload_csv/" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<div class="file-upload">
					<div class="image-upload-wrap">
						<input class="file-upload-input" type='file' name="upload_csv" onchange="readURL(this);" accept=".csv"/>
						<div class="drag-text">
							<h3>Prevuci ili izaberi CSV datoteku</h3>
						</div>
					</div>
					<div class="file-upload-content">
						<object data="{% static 'images/CSV_file.png' %}" type="image/png">
							<img class="file-upload-image" src="#" alt="your image" />
						</object>
						<div class="image-title-wrap">
							<p>Uspešno je učitana datoteka <span class="image-title">Uploaded Image</span></p> <br />
							<div class="row">
								<div class="columns">
									<button style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
										<p style="color:#ffffff;">učitaj datoteku</p>
									</button>
									<button onclick="removeUpload()" style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
										<p style="color:#ffffff;">ukloni datoteku</p>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<p id="test"></p>
</div>

</br>
<!-- UPLOAD CSV -->

<div style="background-color: #e4e4e4; overflow-x:auto; padding:50px 80px; text-align: center;"></div>

<!-- ACE LIST AND TABLE-->
<div style="padding:50px 80px; text-align: center;">
	<h3 class="headertext" style="color: #000000;">Liste za ACE</h3>
	<div class="row">
		<div class="columns">
			<form class="contact-form" method="POST" action="/ace_list/"> 
				{% csrf_token %}
				<button onclick="fnValidate()" style="background-color: rgb(92, 92, 92); border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
					<p style="color:#ffffff;">preuzmi</p>
				</button>
			</form>
			<div id="div_winlock" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 10%; right: 10%; margin-top: 2px;" >
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="ace-alert"  hidden>Nema novih zahteva za preuzimanje!</p>
			</div>
			<!--  not in use - if there is need for pop-up alert message
			{% if messages %}
   			<script>
    			{% for message in messages %}
        			alert("{{ message }}");
    			{% endfor %}
   			</script>
			{% endif %}
			-->
		</div>
	</div>
	</br>
	<p>Kreirane ACE liste - preuzmi ponovo</p>
	<div class="row">
			{% for item in ace_data reversed %}
				{% if forloop.counter < 11 %}
				
					<div class="columns">
						<button class="input-btn" disabled></button>
						<form class="contact-form" method="POST" action="/ace_table/">
							{% csrf_token %}
							<button style="border:none; min-width: 312px; max-width: 312px; cursor: pointer;">
								<input id="ace_name" type="text" name="ace_name" value="{{ item.name }}"hidden>
								<div style="background-color: rgb(92, 92, 92); display: table; border: none; padding-top: 50px; font: 22px 'FuturaLight'; text-align:center; cursor: pointer;"> <p style="color:#ffffff;">{{ item.datecreated|date:"d.m.Y - H:i" }}</p>
									<div style="background-color: #f1f1f1; min-width: 300px; max-width: 300px; text-align:center; padding: 1px 0px 1px 0px; cursor: pointer;">
										<p style="color:#000000;">preuzmi</p>
									</div>
								</div>
							</button>
						</form>
					</button>
					
				</div>
				{% endif %}
			{% endfor %}
		</div>
</div>
<br/><br/><br/><br/><br/>
<!-- ACE LIST AND TABLE-->

<!-- APPS -->

  
<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

</body>
</html>