{% load static %}
<html>
<head>
<title>RA&T box</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
<style>body {background-image: url("{% static 'images/Header.jpg' %}");}</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src={% static 'bazaznanja/main.js' %} defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

<script>
    var ace_alert = "{{ trigger }}";
</script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Header -->

{% include "mysite/header.html" %}

</div>

<!-- Header -->

<!-- APPS -->

<!-- DOWNLOAD VENDORS LIST -->
<div style="text-align: center;">
    <br><br>
	<h3 style="color:#000000; padding-top: 4px">IMEI liste</h3>
	<p style="text-align:center";>Odabirom proizvođača iz nastavka možeš preuzeti sortirane liste IMEI brojeva gde kod za dekodiranje nije dostupan.</p><br/>
	<div class="row">
        <div class="columns">
            <button class="input-btn" disabled>
                <div onclick="selectAll();" class="selectall_notselected" name="" id="selectall">Obeleži sve</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="alcatel">Alcatel</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="htc">HTC</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="huawei">Huawei</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="lg">LG</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="lumia">Lumia</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="samsung">Samsung</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="sony">Sony</div>
            </button>
            <button class="input-btn" disabled>
                <div onclick="selectMeMain(this.id);" class="select_notselected" name="vendors" id="zte">ZTE</div>
            </button>
        </div>
    </div>
	<form class="contact-form" method="POST" action="/download_list/">
		{% csrf_token %}
		<input id="selected" name="selected" value="" hidden></input>
		<br><br>
		<div class="row">
		    <div class="columns">
        		<button onclick="checkboxChecker();" style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
        			<p style="color:#ffffff;">preuzmi</p>
        		</button>
		    </div>
		</div>
	</form>
	<div class="ace-alert" style="background-color: #f15959; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
		<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="checkbox-alert" hidden>Neophodno je odabrati makar jednog proizvođača!</p>
	</div>
	{% if list_trigger != None %}
	<div class="row">
		<div class="columns">
			<div class="ace-alert" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ list_trigger }} </p>
			</div>
		</div>
	</div>
	{% endif %}
	<br/><br/>

	<!-- NOKIA LIST -->
	<h3 class="headertext" style="color: #000000;">Nokia liste</h3>
	<p style="text-align:center";>Liste IMEI brojeva sortiranih prema tipu winlock-a.</p>
	<div class="row">
		<div class="columns">
			<form class="contact-form" method="POST" action="/nokia_list/">
				{% csrf_token %}
				<br>
				<button style="background-color: rgb(92, 92, 92); border:none; width: 200px; margin-top: 5px; cursor: pointer;">
					<p style="color:#ffffff;">preuzmi</p>
				</button>
			</form>
		</div>
	</div>
	{% if nokia_trigger != None %}
	<div class="row">
		<div class="columns">
			<div class="ace-alert" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ nokia_trigger }} </p>
			</div>
		</div>
	</div>
	{% endif %}
	<br/>
	<!-- NOKIA LIST -->

</div>


<!-- DOWNLOAD VENDORS LIST -->

<div style="background-color: #e4e4e4; overflow-x:auto; padding:50px 80px; text-align: center;"></div>

<!-- UPLOAD CSV -->
<div>
    <br/><br/>
    <div style="text-align: center;">
	    <h3 style="color:#000000; text-align: center;">Unos kodova za dekodiranje</h3>
	    <p style="text-align:center"; hidden>Ukoliko ne želiš ručno da upisuješ kodove, moguć je i masovni unos. Potrebno je samo formirati .CSV datoteku, gde je <b>A kolona: IMEI broj</b>, <b>B kolona: Kod za dekodiranje</b>, a za delimiter možeš koristiti <b>,</b> ili <b>;</b> - npr 357889040574670;12345667</p>
	</div>
	<form name="myWebForm" method="POST" action="/upload_csv/" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<div class="file-upload">
				<div class="image-upload-wrap">
					<input class="file-upload-input" type='file' name="upload_csv" onchange="readURL(this);" accept=".csv"/>
					<div class="drag-text">
						<h3>Prevuci ili izaberi CSV datoteku</h3>
					</div>
				</div>
				<div class="file-upload-content">
					<object data="{% static 'images/CSV_file.png' %}" type="image/png">
						<img class="file-upload-image" src="#" alt="your image" />
					</object>
					<div class="image-title-wrap">
						<p>Uspešno je učitana datoteka <span class="image-title">Uploaded Image</span></p> <br />
						<div class="row">
							<div class="columns">
								<button style="background-color: rgb(92, 92, 92); border:none; width: 200px; margin-top: 5px; cursor: pointer;">
									<p style="color:#ffffff;">otvori datoteku</p>
								</button>
								<button onclick="removeUpload()" style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
									<p style="color:#ffffff;">ukloni datoteku</p>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

</br>
<!-- UPLOAD CSV -->

<div style="background-color: #e4e4e4; overflow-x:auto; padding:50px 80px; text-align: center;"></div>

<!-- ACE LIST AND TABLE-->
<div style="text-align: center;">
	<h3 style="color:#000000; padding-top: 4px">Liste za isporuku kodova ka korisnicima</h3>
	<div class="row">
		<div class="columns">
			<form class="contact-form" method="POST" action="/ace_list/">
				{% csrf_token %}
				<button onclick="fnValidate()" style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
					<p style="color:#ffffff;">preuzmi</p>
				</button>
			</form>
			<div id="div_winlock" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 10%; right: 10%; margin-top: 2px;" >
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="ace-alert"  hidden>Nema novih zahteva za preuzimanje!</p>
			</div>
			<!--  not in use - if there is need for pop-up alert message
			{% if messages %}
   			<script>
    			{% for message in messages %}
        			alert("{{ message }}");
    			{% endfor %}
   			</script>
			{% endif %}
			-->
		</div>
	</div>
	</br></br>
	<p>Kreirane liste - preuzmi ponovo</p>
	</br>
    <div class="row">
    	{% for item in ace_data reversed %}
    		{% if forloop.counter < 11 %}
                <div class="columns_ace">
    	            <form method="POST" action="/ace_table/">
    	                {% csrf_token %}
                        <button style="background-color: rgb(92, 92, 92); margin-top: 5px; border: none; width: 200px; cursor: pointer;">
                            <input id="ace_name" name="ace_name" value="{{ item.name }}"hidden>
                            <p style="color:#ffffff;">{{ item.datecreated|date:"d.m.Y - H:i" }}</p>
                        </button>
                    </form>
                </div>
    		{% endif %}
    	{% endfor %}
    </div>
</div>
<br/><br/><br/><br/><br/></br>
<!-- ACE LIST AND TABLE-->

<!-- APPS -->


<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

</body>
</html>