{% load static %}
<html>
<head>
<title>RA&T box</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
<style>body {background-image: url("{% static 'images/Header.jpg' %}");}</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src={% static 'bazaznanja/main.js' %} defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Header -->

{% include "mysite/header.html" %}

	<div class="headersearch" style="text-align: center; background-color: rgb(92, 92, 92);">
		<h3 class="headertext">Da li ti je potreban kod za dekodiranje?</h3>
		<form class="search" style="margin:auto;" method="POST" action="/search_unc/">
			{% csrf_token %}
			<input type="text" id="imei" name="imei" value="{{ imei }}" placeholder="Unesi IMEI broj.." autocomplete="off">
			<button onclick="searchValidate()" class="newmessagebtn" type="submit"><i class="fa fa-search"></i></button>
		</form>
		<div style="background-color: #f15959; text-align: center; position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
			<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="not-luhn-input" hidden>Nevalidan unos! IMEI broj nije ispravan.</p>
		</div>
		<div style="background-color: #f15959; text-align: center; position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
			<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="not-numeric-input" hidden>Nevalidan unos! IMEI broj se sastoji od 15 numeričkih karaktera.</p>
		</div>
		<div style="background-color: #f15959; text-align: center; position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 2px;">
			<p style="color:#ffffff; padding: 10px 0px 10px 0px;" class="imei-alert" hidden>Obavezan unos! Potrebno je uneti IMEI broj.</p>
		</div>
		<br />
		<br />
	</div>

</div>


<!-- Header -->


<div style="overflow-x:auto; text-align:center; padding:50px;">

	<br/><br/><br/><br/>

    <div class="headertext"><br/><br/><br/><br/><br/><br/></div>

	{% if unlock_not_found != None %}
	<div id="div_pending" style="text-align: center; margin-left: auto; margin-right: auto; left: 10%; right: 10%; margin-top: 2px;">
		<p style="color:#ffffff; background-color: #f15959; padding: 10px 0px 10px 0px;">{{ unlock_not_found }}</p>
	</div>
	<br/><br/>
	{% endif %}

	<p>{{ imei_query }}</p>
	{% for item in unlock_list %}
		<p>{{ item }}</p>
	{% endfor %}

	{% if request.user.groups.all.0.name == 'level_1' %}
		{% if proizvodjac_temp == 'Nokia' %}
			<br/><br/>
			<div id="div_winlock" style="background-color: #62eb62; text-align: center; margin-left: auto; margin-right: auto; left: 10%; right: 10%; margin-top: 2px;" >
				<p style="color:#ffffff; padding: 10px 0px 10px 0px;">{{ winlockpreview }}</p>
			</div>
			<br/><br/>
		{% endif %}
	{% endif %}
	{% if request.user.groups.all.0.name != 'level_3' %}
	{% if '0' in validate %}
	<div style="text-align:center;" class="new-request">
		<form class="contact-form" method="POST" action="/dekodiranjeinput_search/">
			{% csrf_token %}
			<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
			<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
			<input id="modelhidden" type="text" name="modelhidden" value="{{ model_temp }}" style="text-align:center;" hidden><br />
			<button style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
				<p style="color:#ffffff;">podnesi zahtev</p>
			</button>
		</form>
	</div>
	{% endif %}
	{% if '1' in validate %}
	<div style="text-align:center;" class="new-request">
		<form class="contact-form" method="POST" action="/dekodiranjeinput_search/">
			{% csrf_token %}
			<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
			<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
			<input id="modelhidden" type="text" name="modelhidden" value="{{ model_temp }}" style="text-align:center;" hidden>
			</br></br></br>
			<p>U slučaju neispravnosti koda za dekodiranje, možete podneti novi zahtev</p><br />
			<button style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
				<p style="color:#ffffff;">podnesi zahtev</p>
			</button>
		</form>
	</div>
	{% endif %}
	{% if '5' in validate %}
	<div style="text-align:center;" class="new-request">
		<form class="contact-form" method="POST" action="/dekodiranjeinput_search/">
			{% csrf_token %}
			<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
			<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
			<input id="modelhidden" type="text" name="modelhidden" value="{{ model_temp }}" style="text-align:center;" hidden>
			</br></br></br>
			<p>U slučaju neispravnosti koda za dekodiranje, možete podneti novi zahtev</p><br />
			<button style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
				<p style="color:#ffffff;">podnesi zahtev</p>
			</button>
		</form>
	</div>
	{% endif %}
	{% if '3' in validate %}
	<div style="text-align:center;" class="new-request">
		<form class="contact-form" method="POST" action="/dekodiranjeinput_search/">
			{% csrf_token %}
			<input id="imeihidden" type="text" name="imeihidden" value="{{ imei_temp }}" style="text-align:center;" hidden>
			<input id="proizvodjachidden" type="text" name="proizvodjachidden" value="{{ proizvodjac_temp }}" style="text-align:center;" hidden>
			<input id="modelhidden" type="text" name="modelhidden" value="{{ model_temp }}" style="text-align:center;" hidden>
			</br></br></br>
			<p>Ukoliko su izvršene navedene provere, a korisnikov uređaj traži da se unese kod za dekodiranje, možete podneti zahtev</p><br />
			<button style="background-color: rgb(92, 92, 92); border:none; width: 200px; cursor: pointer;">
				<p style="color:#ffffff;">podnesi zahtev</p>
			</button>
		</form>
	</div>
	{% endif %}
	{% endif %}
</div>

</br></br>

<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

</body>
</html>