{% load static %}
<html>
<head>
<title>Tausoft</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

<link rel="stylesheet" href="{% static 'bazaznanja/style.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src={% static 'bazaznanja/main.js' %} defer></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style></style>

</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Header -->

{% include "mysite/header.html" %}

</div>

<!-- Header -->



<!-- Page -->

<div id="main" style="background-color: #fff; text-align:center;">

    <br/><br/><br/><br/><br/><br/>

<!-- Aplications -->
    <div style="background-color: #f1f1f1; display: table; margin: 0 auto; border: none; padding: 50px 70px;">
        <p style="text-align: center; color: gray; font-size: 20px;">Unesi kredencijale</h4>
        <form method="POST" class="from-group">
            {% csrf_token %}
            {{ form.username }} <br/>
            {{ form.password }} <br/>
            <button class="loginbutton2" type="submit">uloguj se</button>
        </form>
        <div style="background-color: #f15959; text-align: center;">
            <p style="color:#ffffff;" class="username-alert" hidden>Obavezan unos! Potrebno je uneti korisničko ime.</p>
        </div>
    </div>
<br/><br/>
<!-- Aplications -->

</div>

<!-- Page -->

<!-- Footer -->

{% include "mysite/footer.html" %}

<!-- Footer -->

<script type="text/javascript" >

$(document).ready(function() {
	var ua = window.navigator.userAgent;
  	var isIE = /MSIE|Trident/.test(ua);

  	if ( isIE ) {
        window.location.href = '../isie/';
  	}
});

    $(document).ready(function(){
        $("#id_username").attr('placeholder', 'korisničko ime');
        $("#id_username").attr('autocomplete', 'off');
        $("#id_username").attr('style', 'text-align:center; font: 14px "FuturaLight"; margin-bottom: 10px; width: 200px; height:30px;');
        $("#id_password").attr('placeholder', 'lozinka');
        $("#id_password").attr('style', 'text-align:center; font: 14px "FuturaLight"; margin-bottom: 10px; width: 200px; height:30px;');
    });
</script>

</body>
</html>
